My workflow 3.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "610ef817-2ac0-4a47-809e-4b2bd7105e74",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/top-headlines?country=us&pageSize=5&apiKey=Myapikey",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        272,
        -160
      ],
      "id": "968efbb5-7f40-4435-9290-be4294c28919",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather?q=New Delhi&units=metric&appid=myapikey",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        304,
        0
      ],
      "id": "7c6a713d-02d6-4aea-82bb-5d179aed8965",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "myemailid",
          "mode": "list",
          "cachedResultName": "myemailid"
        },
        "timeMin": "={{ $now.startOf('day').toISO() }}",
        "timeMax": "={{ $now.endOf('day').toISO() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "084c4482-ee00-43e0-b5a0-c89b3b9faf37",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "KLtoYM7C6xuyUCSR",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a friendly morning assistant. Create a warm, motivating \nmorning briefing using this data:\n\n📰 TOP NEWS: {{ $json.newsHeadlines }}\n🌤️ WEATHER: {{ $json.weather }}\n📅 TODAY'S EVENTS: {{ $json.events }}\n\nFormat it with emojis, keep it under 200 words.\nUse clear sections with line breaks suitable for email.\nStart with \"Good morning! ☀️\" and end with one motivational line."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1680,
        -32
      ],
      "id": "cc01d97b-a466-45b7-9997-1a136eb6592c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1504,
        256
      ],
      "id": "0bad282b-3221-4dc0-9a65-6e15ba9d329a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "wllkqqnVKvk8R1u7",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "myemailid",
        "subject": "=☀️ Your Morning Briefing — {{ $now.format('DD MMM YYYY') }}",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2000,
        -32
      ],
      "id": "c9aa4d3f-f172-46c1-af42-44fa8d5fe1e9",
      "name": "Send a message",
      "webhookId": "7071ae63-8dcf-476f-b593-2a78783ce9c5",
      "credentials": {
        "gmailOAuth2": {
          "id": "0HrDnn7pBRpU8mHi",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        656,
        -160
      ],
      "id": "de0ff06e-c6fa-40ec-9404-cd2d0acf5205",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\n\nconst newsData = items.find(i => i.articles);\nconst weatherData = items.find(i => i.weather);\n\nconst news = newsData?.articles?.map(a => a.title).join(' | ') ?? \"No news available\";\n\nconst weather = weatherData?.weather?.[0]?.description ?? \"N/A\";\nconst temp = weatherData?.main?.temp ?? \"N/A\";\n\nreturn [\n  {\n    json: {\n      chatInput: {\n        newsHeadlines: news,\n        weather: `${weather}, ${temp}°C`\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        -192
      ],
      "id": "e667ac5e-ea36-4b8e-b77c-9cb5199abac6",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5dbd98ca-b4ad-48b7-8964-672a30f6d6cc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a2fecc2fa429c51621c362fc69e60350052c01d93d4504644fd90310a5daf8ba"
  },
  "id": "yFcHlLtn4zfjfI8q",
  "tags": []
}
